@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
   
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}
/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(145, 51, 51);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */


#wrapper {
    padding-left: 230px;
    transition: all 0.4s ease 0s;
  }
  
  #side-wrapper {
    margin-left: -250px; 
    top: 51px;
    left: 250px;
    width: 230px;
    background: #2D3640;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }
  
  #wrapper.active {
    padding-left: 0;
  }
  
  #wrapper.active #side-wrapper {
    left: 0;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding-top: 55px;
    transition: all 0.4s ease 0s;
  }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px 2D3640;
        color: #fff;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
/* 
  @media(min-width:767px) {
   

    #wrapper {
        padding-left: 0;
      }
      
      #side-wrapper {
        left: 0;
      }
      
      #wrapper.active {
        position: relative;
        left: 250px;
      }
      
      #wrapper.active #side-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
      }
      
      #menu-toggle {
        display: inline-block;
      }
      
} */
.navbar.navbar-inverse.navbar-fixed-top{
    background-image: linear-gradient(to right, #0071CB ,#00B9DA);

}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px #1a242f solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
   
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}


#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
    padding-top: 15px;
}body{
    background-color: #F4F6F9;
}


  
.inforide {
    border: 1px solid rgb(179, 179, 179);

    background-color: white;
    border-radius: 8px;
    height: 80px;

  }
  
  
  .one a{
    text-align: center;
	float: left;
	width: 60px;
	height: 60px;
	border: 1px ;
	border-radius: 100%;
     /*space between*/margin-left: 15px;
     margin-top: 10px;
    background-color: #009DDD; 
    

} 
.one a i{
	font-size: 20px;
    line-height: 58px;
	color: #f1f1f1;
}
  
.two a{
    text-align: center;
	float: left;
	width: 60px;
	height: 60px;
	border: 1px ;
	border-radius: 100%;
     /*space between*/margin-left: 15px;
     margin-top: 10px;
    background-color: #00B98F; 
    

} 
.two a i{
	font-size: 20px;
    line-height: 58px;
	color: #f1f1f1;
}
  
.three a{
    text-align: center;
	float: left;
	width: 60px;
	height: 60px;
	border: 1px ;
	border-radius: 100%;
     /*space between*/margin-left: 15px;
     margin-top: 10px;
    background-color: #FF3F21; 
    

} 
.three a i{
	font-size: 20px;
    line-height: 58px;
	color: #f1f1f1;
}
  
  
  .fontsty {
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 20px;
    margin-right: 220px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 18px;
    margin-right: 220px;

  }
  
  .content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 4rem;
    overflow-x: hidden;
    background: transparent;
  }
  
  