
.addNoteInput {
    border: none;
    outline: none;
    resize: none;
    width: 500px;
    font-size: 14px;
  
  } 
  .center{
    margin-top: 5%;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: auto;
    width: 50%; 
  }.inputclass{
  
    border: none;
    outline: none;
    resize: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
  }
  
  
  .takeanote{
    resize: none;
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
    max-height: 80px;
    overflow-y: auto; 
    
  }
  label, input {
    display: block;
  }
  
  label {
    margin-bottom: 20px;
  } 
  .cardresize{
  
    min-width: 170px;
    min-height:100px;
  }.bulb{
    margin-top: 12%;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: auto;
    width: 13%;
    color:rgb(207, 207, 212);
   
  
      
  }
  .textsize{
    margin-top: 1%;
  margin-bottom: auto;
  margin-left:38%;
  margin-right: auto;
  width: 50%;
  font-size: 15px;
  color:rgb(207, 207, 212);
  }