<div class="center">
    <div fxLayout="column" fxLayoutGap="10px"> 
        <mat-card *ngIf=!barshow (click)="fullCardShow()" style="min-width: 300px; margin:20px">
          Take A Note ...
             </mat-card>
        
        <mat-card *ngIf=barshow >
        <mat-card-title >   
      <label>          <input class="inputclass" matInput placeholder="Title" [(ngModel)]="createnote.title" style="margin-left:20px;"  > 
      </label>
    
      </mat-card-title>   
          <mat-card-subtitle>
        <!-- <div class ="takeanote" contenteditable="true"  placeholder='Enter some text' style="margin-left:20px;">  -->
        <!-- [textContent]="createnote.content" (input)="createnote.content=$event.target.textContent"  -->
        <!-- </div> -->
    <label>
                <textarea class="takeanote" placeholder="Take a note..."   [(ngModel)]="createnote.description" style="margin-left:20px;"></textarea>
              </label>

        </mat-card-subtitle>
        <div fxLayout="row">
       
                <button mat-icon-button    matTooltip="Remind me">
                  
                      <mat-icon class="add_alert">add_alert</mat-icon>
                    </button>
                  
                  
                    <button mat-icon-button   matTooltip="collaborator">
                        <mat-icon class="person_add">person_add</mat-icon>
                      </button>
                  
                    
                      <button mat-icon-button matTooltip="Change color" >
                        
                          <button mat-icon-button  [matMenuTriggerFor]="palette">
                              <mat-icon class="palette">palette
                             </mat-icon></button>
             <mat-menu #palette="matMenu">
               <button mat-menu-item>  <button mat-mini-fab></button></button>
               <button mat-menu-item> <button mat-mini-fab color="primary"></button>
              </button>
                <button mat-menu-item><button mat-mini-fab color=#64b5f6></button></button>
               <button mat-menu-item><button mat-mini-fab color="black"></button></button>
               <button mat-menu-item> <button mat-mini-fab color="green"></button></button>
             

              </mat-menu>



                        </button>
                     
                      
                      <button mat-icon-button matTooltip="Add image" >
                            <mat-icon class="photo">photo</mat-icon>
                          </button> 
                      
                          <button mat-icon-button matTooltip="Archive" >
                              <mat-icon class="archive">archive</mat-icon>
                            </button>
                       
                              <button mat-button [matMenuTriggerFor]="menu" matTooltip="More">
                                  <mat-icon class="more_vert">more_vert</mat-icon>

                              </button>
                          
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>add Label</button>
                                <button mat-menu-item>Show tick boxes</button>
                              </mat-menu>
                           




                                 <button mat-button color="warn" (click)="noteSave()">close</button>
                
           
        </div>
        </mat-card>
        
        </div>
        
</div>

<div class="bulb" *ngIf=showicon>
<i class="material-icons " style="font-size: 90px;" >add_alert</i>

</div>
<P class="textsize">Notes that you add appear here </P>