.inputDiv {

    border: none;
    outline: none;
    resize: none;
  
  }
  
  .pinIcon {
  
    height: 10px;
    margin-left: auto;
  
  }
   
  
  
  
  
  
  /deep/ .mat-dialog-container {
  
    padding: 0 !important;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .mainEditArea {
    padding: 5px;
  }
  
  
  .saveEditedNote{
  
    margin-left: auto;
  
  }
  .editNoteFunctionButton{
  
    display: flex;
  
  }
  .reminderMenu,
  .dateMenu {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;       border: 1px solid rgb(180, 180, 180);
      border-radius: 5px;
      padding: 10px;
      
      font-size: 14px !important;
      margin: 0;
      background-color: aliceblue; 
  }